html(lang="en")
    head
        include component/config
    body
        .body-app
            .nav
                img(src="img/icon.svg")
                h1 IANI 
                i.fas.fa-plus-circle
            .log
                input.input-ludica(placeholder="Username" aria-label="Username" aria-describedby="basic-addon1")
                input.input-ludica(placeholder="Contrasena" aria-label="Contrasena" aria-describedby="basic-addon1")
                a.btn( type="button" href="paciente.html" ) entrar 

            .footer
                img.img-fluid(src="img/logo.png")
                p interfase de asignaturas nomencladas en intervenciones 



        include component/js