html(lang="en")
    head
        include component/config
    body
        .body-app
            .nav
                img(src="img/icon.svg")
                p Programa
                img.img-fluid(src="img/julieta.png", alt="", srcset="")
            
            .container
               

            section.pas-sec
                .container-fuid.pacientes.active( onclick="location.href='programa.html'")  
                    .row.align-items-center
                        .col-3
                            img.img-fluid(src="img/pasiente.png", alt="", srcset="")
                        .col-8
                            h4 Juani Romero
                            p Emezar ahora

                .container-fuid.pacientes( onclick="location.href='programa.html'")  
                    .row.align-items-center
                        .col-3
                            img.img-fluid(src="img/pasiente.png", alt="", srcset="")
                        .col-8
                            h4 Valentina Gomez
                            p Emezar ahora

                .container-fuid.pacientes( onclick="location.href='programa.html'")  
                    .row.align-items-center
                        .col-3
                            img.img-fluid(src="img/pasiente.png", alt="", srcset="")
                        .col-8
                            h4 Hilaria
                            p Emezar ahora
                    
                .container-fuid.pacientes( onclick="location.href='programa.html'")  
                    .row.align-items-center
                        .col-3
                            img.img-fluid(src="img/pasiente.png", alt="", srcset="")
                        .col-8
                            h4 Marcos Padula
                            p Emezar ahora
                
                .container-fuid.pacientes( onclick="location.href='programa.html'")  
                    .row.align-items-center
                        .col-3
                            img.img-fluid(src="img/pasiente.png", alt="", srcset="")
                        .col-8
                            h4 Leivi Cuperstein
                            p Emezar ahora

            .footer
                img.img-fluid(src="img/logo.png")
                p interfase de asignaturas nomencladas en intervenciones 
        include component/js