html(lang="en")
    head
        include component/config
    body
        .body-app
            .nav
                img(src="img/icon.svg")
                p Programa
                img.img-fluid(src="img/julieta.png", alt="", srcset="")
            
            .container
                .row
                    .col-3.mb-4.mt-4.mx-auto
                        img.img-fluid(src="img/pasiente.png", alt="", srcset="")
                    .w-100
                    .col-12.text-center
                        h3 Julieta
                        p(style="line-height: 1px;") Profesor de Educación Física

            section.pas-sec
                a.container-fuid.pacientes( data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" )  
                    p.item-rectangulo <span> 01 </span> ordenes Simples
                div(class="collapse" id="collapseExample")
                    .ordenes-card
                        ul 
                            li <span> 01 </span> 
                                a(href="ra.html") PARATE
                            li <span> 02 </span>
                                a(href="ra.html") SENTATE
                            li <span> 03 </span>
                                a(href="ra.html") SALUDA
                            li <span> 04 </span>
                                a(href="ra.html") CHOQUE LOS CINCO
                            li <span> 05 </span>
                                a(href="ra.html") APLAUDI
                            li <span> 06 </span>
                                a(href="ra.html") GIRA
                            li <span> 07 </span>
                                a(href="ra.html") SALTA
                a.container-fuid.pacientes( data-toggle="collapse" href="#colapse2" role="button" aria-expanded="false" aria-controls="colapse2" )  
                    p.item-rectangulo <span> 01 </span> ordenes Simples
                div(class="collapse" id="colapse2")
                    .ordenes-card
                        ul 
                            li <span> 01 </span> 
                                a(href="ra.html") PARATE
                            li <span> 02 </span>
                                a(href="ra.html") SENTATE
                            li <span> 03 </span>
                                a(href="ra.html") SALUDA
                            li <span> 04 </span>
                                a(href="ra.html") CHOQUE LOS CINCO
                            li <span> 05 </span>
                                a(href="ra.html") APLAUDI
                            li <span> 06 </span>
                                a(href="ra.html") GIRA
                            li <span> 07 </span>
                                a(href="ra.html") SALTA
                a.container-fuid.pacientes( data-toggle="collapse" href="#colapse3" role="button" aria-expanded="false" aria-controls="colapse3" )  
                    p.item-rectangulo <span> 01 </span> ordenes Simples
                div(class="collapse" id="colapse3")
                    .ordenes-card
                        ul 
                            li <span> 01 </span> 
                                a(href="ra.html") PARATE
                            li <span> 02 </span>
                                a(href="ra.html") SENTATE
                            li <span> 03 </span>
                                a(href="ra.html") SALUDA
                            li <span> 04 </span>
                                a(href="ra.html") CHOQUE LOS CINCO
                            li <span> 05 </span>
                                a(href="ra.html") APLAUDI
                            li <span> 06 </span>
                                a(href="ra.html") GIRA
                            li <span> 07 </span>
                                a(href="ra.html") SALTA
                a.container-fuid.pacientes( data-toggle="collapse" href="#colapse4" role="button" aria-expanded="false" aria-controls="colapse4" )  
                    p.item-rectangulo <span> 01 </span> ordenes Simples
                div(class="collapse" id="colapse4")
                    .ordenes-card
                        ul 
                            li <span> 01 </span> 
                                a(href="ra.html") PARATE
                            li <span> 02 </span>
                                a(href="ra.html") SENTATE
                            li <span> 03 </span>
                                a(href="ra.html") SALUDA
                            li <span> 04 </span>
                                a(href="ra.html") CHOQUE LOS CINCO
                            li <span> 05 </span>
                                a(href="ra.html") APLAUDI
                            li <span> 06 </span>
                                a(href="ra.html") GIRA
                            li <span> 07 </span>
                                a(href="ra.html") SALTA
                    
                
                
                
            
            .footer
                img.img-fluid(src="img/logo.png")
                p interfase de asignaturas nomencladas en intervenciones      

        include component/js